<a href="https://colab.research.google.com/github/Angel-Joven/POOPython3/blob/main/lunesPOO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
# JOVEN JIMENEZ ANGEL CRISTIAN

# Esto es un comentario
print("Hola Mundo")  # Esto imprime "Hola Mundo"

Hola Mundo

In [80]:
!ls -a

.  ..  .config	sample_data

In [ ]:
print("Hola", "Mundo")
 
print("Hola" + "Mundo")
 
print("Hola", "Mundo", sep="-")  # Imprime: Hola-Mundo
 
print("Hola", end="")
print("Mundo")  # Imprime: HolaMundo

Hola Mundo
HolaMundo
Hola-Mundo
HolaMundo

In [ ]:
nombre = "José"
carrera = "ICO, la mejor"
print("Mi nombre es {} y estudio {} en la FES Aragón".format(nombre, carrera))
print(f"Mi nombre es {nombre*2} y estudio en {carrera} dentro de la FES")

Mi nombre es José y estudio ICO, la mejor en la FES Aragón
Mi nombre es JoséJosé y estudio en ICO, la mejor dentro de la FES

In [ ]:
# Operadores aritméticos
suma = 5 + 3    # 8
resta = 5 - 3   # 2
producto = 5 * 3  # 15
division = 5 / 3  # 1.66667
division2 = 5 // 3 # 1
modulo = 5 % 3   # 2
potencia = 5 ** 3  # 125

In [ ]:
division

1.6666666666666667

In [ ]:
# Operadores de comparación
igual = 5 == 3  # False
diferente = 5 != 3  # True
mayor_que = 5 > 3  # True
menor_que = 5 < 3  # False
mayor_o_igual_que = 5 >= 3  # True
menor_o_igual_que = 5 <= 3  # False

In [ ]:
igual

False

In [ ]:
# Operadores lógicos
y = True and False  # False
o = True or False  # True
no = not True  # False

In [ ]:
True and (True and False)

False

In [ ]:
saludo = "Hola Mundo"
cita = 'Los alumnos de ICO dicen: "Hola Mundo"'
parrafo = """Esto es un párrafo
que abarca varias
líneas"""

In [ ]:
print(cita)

Los alumnos de ICO dicen: "Hola Mundo"

In [36]:
def fn_uno():
    print("Hola")
 
a, b, c = 10, "Hola", fn_uno
print(a)
print(b)
print(c)

c.__call__()

10
Hola
<function fn_uno at 0x7f617584b9a0>
Hola

In [37]:
# entrada por teclado
nombre = input("Por favor, introduce tu nombre: ")
print(f"Hola {nombre}!")

Por favor, introduce tu nombre: Angel
Hola Angel!

In [45]:
numero = int("20") #Casting
print(numero)

20

In [41]:
edad = int(input("Introduce tu edad:"))
print(f"{nombre} tiene {edad} años")

Introduce tu edad:21
Angel tiene 21 años

In [46]:
mensaje = "Hola Mundo"  # String
edad = 20               # Integer
pi = 3.14159            # Float
es_mayor = True         # Boolean
imaginario = 3 + 4j     # Imaginario

In [48]:
mensaje

'Hola Mundo'

In [53]:
#            0.        1.         2
#           -3.       -2.        -1.  | Indexado negativo
frutas = ['limon', 'aguacate', 'fresa']
print(frutas[2])
print(frutas[-1])

fresa
fresa

In [54]:
cosas = ['limon', 10, 3.1416, True, [1,2,3,4], "Hola"]
print(cosas)

['limon', 10, 3.1416, True, [1, 2, 3, 4], 'Hola']

# Slicing en python

[ inicio : stop : step ]

Posibilidad de obtener rebanadas a partir de un tipo de dato lista o tupla, en general, de un iterable.

Un tipo de dato string es un iterable. 

Por defecto:

inicio = 0

stop = Tamaño de la variable

step = 1 (1 en 1, 2 en 2, etc)

In [55]:
ejemplo = [1,2,3,4,5,6, 'a','b','c','d','e']
print(ejemplo)

[1, 2, 3, 4, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [58]:
rebanada = ejemplo[2:6:1]
print(rebanada)

[3, 4, 5, 6]

In [59]:
rebanada = ejemplo[6:9:1]
print(rebanada)

['a', 'b', 'c']

In [66]:
#Tuplas - Inmutables

frutas_2 = ('aguacate', 'limon', 'naranja')
print(frutas)
print(frutas_2)

frutas[1] = 'Piña'
#frutas_2[1] = 'Piña' -> Error en tupla, inmutable

print(frutas[1])
print(frutas_2[1])

print(frutas_2[1:2:1])

print(frutas_2[-1])

['limon', 'Piña', 'fresa']
('aguacate', 'limon', 'naranja')
Piña
limon
('limon',)
naranja

#Diccionarios

Conjunto de pares llave - valor, agrupados por ':'

- La llave es siempre de tipo string.

- El valor puede ser de cualquier tipo.

- El selector es de la forma ['llave']

- Es mutable

Se declara entre los caracteres '{' y '}'

Los pares estan separados por comas.

In [71]:
alumno = {'numero_cuenta' : 123456, 
          'carrera' : 'ICO', 
          'direccion' : {'calle' : 'Rancho seco', 'numero' : 23}
          }
          
print(alumno)

{'numero_cuenta': 123456, 'carrera': 'ICO', 'direccion': {'calle': 'Rancho seco', 'numero': 23}}

In [78]:
print(alumno['carrera'])

print(alumno['direccion'])

#Como imprimir el 23 de la direccion
print(alumno['direccion']['numero'])

#Como imprimir ‘cho’ de la calle
print(alumno['direccion']['calle'][3:6:1])

ICO
{'calle': 'Rancho seco', 'numero': 23}
23
cho